@use '_variables.scss' as *;
@use '_layout.scss';

body {
    background-color: $background-color;
}

.card {
    background-color: $card-color;
}

.text {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text {
    h1 {
        color: $main-text;
        font-family: $primary-font;
        font-weight: 700;
    }

    .paragraph {
        color: $main-paragraph;
        font-family: $secondary-font;
        font-size: 15px;
        line-height: 25px;
    }

    strong {
        color: $overlay-accent;
        font-weight: 700;    
    }
}

.stat-headings {
    display: flex;
    gap: 70px;
    margin-top: 60px;

    h2 {
        font-family: $primary-font;
        font-weight: 600;
        margin-bottom: 5px;
        color: $main-text;
    }

    p {
        font-family: $secondary-font;
        color: $stats-headings;
        font-size: 15px;
    }
}

.image-overlay.desktop {
    img {
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
    }
}

.image-overlay {
    display: inline-flex;
    position: relative;
}

.image-overlay.mobile {
    display: none;
}

.image-overlay::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(91, 42, 121, 0.58);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  mix-blend-mode: hard-light;
}

/* Mobile */
@media (max-width: 768px) {

    .card {
        width: 340px;
        height: 805px;
        text-align: center;
        flex-direction: column;
    }

    .stat-headings {
        flex-direction: column;
    }

    .image-overlay.desktop {
        display: none;
    }

    .image-overlay.mobile {
        img {
            border-top-right-radius: 0.5em;
            border-top-left-radius: 0.5em;
        }
        display: inline-flex;
        flex-direction: column;
    }

    .stat-headings {
        gap: 30px;
        margin-top: unset;
    }

    main {
        height: unset;
        padding: 20px;
    }
}